<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>property-color</key>
		<string>@property-grey</string>
		<key>pattern</key>
		<string>color-pattern.png</string>
		<key>reference-to-reference</key>
		<string>@default-color</string>
		<key>default-color</key>
		<string>@grey</string>
		<key>grey</key>
		<string>0x7f7f7f</string>
	</dict>
	<key>fonts</key>
	<dict>
		<key>local-reference</key>
		<dict>
			<key>name</key>
			<string>@bold-font</string>
			<key>size</key>
			<string>13</string>
		</dict>
		<key>property-reference</key>
		<dict>
			<key>size</key>
			<string>12</string>
			<key>name</key>
			<string>@property-font</string>
		</dict>
		<key>system-font</key>
		<dict>
			<key>size</key>
			<integer>11</integer>
			<key>name</key>
			<string>systemfont</string>
		</dict>
		<key>system-font-bold</key>
		<dict>
			<key>size</key>
			<integer>11</integer>
			<key>name</key>
			<string>systemfont-bold</string>
		</dict>
		<key>system-font-italic</key>
		<dict>
			<key>size</key>
			<string>11</string>
			<key>name</key>
			<string>systemfont-italic</string>
		</dict>
		<key>bold-font</key>
		<string>Helvetica-Bold</string>
		<key>base-font</key>
		<string>systemfont</string>
	</dict>
	<key>images</key>
	<dict>
		<key>stretchable-reference</key>
		<string>@stretchable</string>
		<key>background</key>
		<string>pattern.png</string>
		<key>stretchable</key>
		<dict>
			<key>name</key>
			<string>pattern.png</string>
			<key>horizontal-cap</key>
			<integer>5</integer>
			<key>vertical-cap</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>string</key>
		<string>a string</string>
		<key>number</key>
		<integer>42</integer>
		<key>number-reference</key>
		<string>@number</string>
	</dict>
</dict>
</plist>
